.btn{
    background-color: darkcyan;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:disabled{
        opacity: .5;
    }

    &:active{
        transform: scale(.98);
    }

    &:hover{
        opacity: .9;
    }
}

.btn.danger{
    background-color: red;
}

.btn.success{
    background-color: darkcyan;
}

.btn.warning{
    background-color: gold;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000060;
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    width: 95%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;

    .modal__close{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px){
    .modal{
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}